* {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

:root {
    --icon-size: 32px; /* Tamanho do icone */
    --link-bg: #d48663; /* Cor do Link */
    --link-color: #ffffff; /* Cor da fonte do link */
    --main-bg: #ffffff; /* Cor da pÃ¡gina */
    --main-color: #010101; /* Cor da fonte da pÃ¡gina */
    --img-size: 96px; /* Tamanho da imagem de perfil */

    /* --custom-color-link1: #078e70;
    --custom-color-link2: #26ceaa;
    --custom-color-link3: #7bade2;
    --custom-color-link4: #5349ca; */
}

body {
    color: var(--main-color);
    background-color: var(--main-bg);
}

.perfil {
    border-radius: 100%;
    margin: 20px;
    width: var(--img-size);
    height: var(--img-size);
}

.bio {
    margin-top: 20px;
}

header {
    margin: 40px;
    text-align: center;
}

span.nome {
    margin: auto;
}

span.icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

span.icon svg {
    width: 100%;
    height: 100%;
    stroke: var(--link-color);
}

a {
    color: inherit;
    text-decoration: none;
}